
body{
  font-family: 'Segoe UI','Roboto',sans-serif;
}

* {
  box-sizing: border-box;
 }
 
  html, body {
    overflow: auto; /* Hide scrollbars */
  }

  .body_background{
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Fixed background */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    height: 100vh; /* Set the body height to the viewport height */
    overflow: hidden; /* Hide overflow content */
    background-color: #202020; 
  }


  ::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #151515; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #252525; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .logo-container
   {
 
     display: inline-flex;
    flex-direction: column;
    align-items: left;
    opacity: 0.9;
    z-index: 1;
    padding: 5px;
    cursor: pointer;

    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
  
    -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  
  }
  
  .logo-container:active{
    touch-action: manipulation;
    outline: none !important;
  }
    
  .logo {
    height: 48px; /* set the width of your logo */
    width: auto;
  }
  
  .bottom_nav {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0.5;
    width: 100%;
    padding: 5px;
    z-index: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    
}
 
  
  h1 
  {
    font-size: 28px;
    margin-top:  2px;
    margin-bottom:  2px;
    font-weight: 100;
  }
   
   h2
   {
    
    font-size: 24px;
    margin-top: 2px;
    margin-bottom:  2px;
    font-weight: 500;
   }
  
   h3
   {
      font-size: 20px;
      margin-top:  2px;
      margin-bottom:  2px;
      font-weight: 500;
   }
   
   p {
      padding: 5px;
      font-size: 14px;
      margin : 0px;
      font-weight: normal;
      color: #CCCCCC;
    
   }

  .content {
    font-size: 14px;
    color: #DDDDDD;
    font-weight: 500;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    padding-top: px; /* add 20 pixels of padding around the content */
    padding-left: 20px; /* add 20 pixels of padding around the content */
    padding-right: 20px; /* add 20 pixels of padding around the content */
    padding-bottom: 20px; /* add 20 pixels of padding around the content */
  
    top: 20px;
    left: 20px; /* set the same value as the left property of .logo-container */
    right: 20px; /* set the same value as the left property of .logo-container */
    bottom: 94px;
    width: 75%;
    max-width: 800px; /* set the maximum width of the text container to 33% */
    backdrop-filter: blur(20px);
    overflow: hidden;
  
    transition: transform 0.2s ease ;
    overflow: auto;
   
  }

/* Add the media query for .content here */
@media (max-width: 768px) 
{
  /* Centering styles for screens up to 768px wide (typical mobile devices) */
  .content
   {
    max-width: auto; /* set the maximum width of the text container to 33% */
    bottom: 72px;
    width: auto; /* Reset the width */
 
  } 
   .logo {
    height: 32px; /* set the width of your logo */
    width: auto;
 }

}
  .content hr {
    border: none;
    height: 2px;
    background-color: #3f4657;
    
    margin-top: 1px; 
    margin-bottom: 1px;
  
  }
  
  .hr-sub {
    border: none;
    height: 1px;
    background-color: #3d4854;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
  .content li {
 
    font-size: 16px;
    font-weight: normal;
    color: #eeeee3;
  }
  
  .bottom_text {
  
    font-size: 26px;
    font-weight: 200;
    margin-right: auto;
    color: #acb5bb;
  
  }
  
  .bottom_text:hover
  {
    color: #acb5bb;
    cursor: pointer;
  }
  
    
  
  a
  {
    color: #acb5bb;
  }
  
  a:visited
  {
    color: #acb5bb;
  }
  
  a:focus
  {
    color: #acb5bb;
  }
  a:hover {
    color: #1da1f2; /* Gmail red */
  }
  
  
.nav-link {

  color: #acb5bb;
  font-size: 32px;
  font-weight: 200;
  text-decoration: none;
}

@media(max-width: 768px) {
  .nav-link {
    font-size: 20px;
  }
}
/* Change font weight to bold on hover */
.nav-link:hover {

  color: #1da1f2; /* Change color on hover */
  transition: linear 0.2s;
}
