/* styles.css */

/* Red color palette */
:root {
    --red-50: #ffebee;
    --red-100: #ffcdd2;
    --red-200: #ef9a9a;
    --red-300: #e57373;
    --red-400: #ef5350;
    --red-500: #f44336;
    --red-600: #e53935;
    --red-700: #d32f2f;
    --red-800: #c62828;
    --red-900: #b71c1c;
    --red-A100: #ff8a80;
    --red-A200: #ff5252;
    --red-A400: #ff1744;
    --red-A700: #d50000;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333;
}

/* Styles for the button */

/* Styles for the button container */
.buttonContainer {
    display: flex;
    justify-content: center; /* Center align items horizontally */
    margin-top: 20px; /* Add some spacing between sliders and button */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--red-500); /* Using red-500 color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--red-700); /* Using red-700 color on hover */
}


/* Styles for the slider */
.slidersContainer {
    text-align: left;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 50%;
    height: 20px;
    background: var(--red-200); /* Using red-200 color */
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px; /* Fixed width for the slider thumb */
    height: 30px;
    background: var(--red-700); /* Using red-700 color for thumb */
    cursor: pointer;
    border-radius: 50%;
}

